.input-field {
  display: grid;
  grid-template-columns: 1fr 20%;

  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input-buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.input-text {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;

  border: 1px solid gray;
  border-radius: 0.3rem;
  padding: 0.2rem;

  input {
    border: none;
    padding: 0.2rem;
  }

  input:focus {
    outline: none;
  }

  fa-icon {
    padding-left: 0.3rem;
  }
}

.container {
  display: grid;

  grid-template-columns: 1fr 20%;
  gap: 2rem;
}

.chart-box {
  position: relative;
  place-self: center;

}

.char-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
}

.nice h1 {
  font-size: 2rem;
}

.percent h1 {
  font-size: 1.4rem;
}

.nice {
  color: #50C878; 
}

.percent {
  color: #5a5a5a; 
}

@media screen and (max-width: 65rem) {

  .container {
    box-shadow: none;
    background: none;
    min-width: auto;
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }

  .todo-box {
    width: 100%;
  }

  .input-field {
    grid-template-columns: 1fr;
  }

}
  
