<div *ngIf="isLoggedIn|async" class="container">

  <div class="todo-box">
    <div class="input-field">
      
      <div class="input-text">
        <fa-icon [icon]="faFilePen"></fa-icon>
        <input type="text" [(ngModel)]="todoText">
      </div>
      
      
      <div class="input-buttons">
        <button *ngIf="!editMode" (click)="addTodo()">add todo</button>
        <button *ngIf="editMode" (click)="updateTodo()">edit</button>
        <button *ngIf="editMode" (click)="cancelEdit()">cancel</button>
      </div>
    </div>
    
    <div class="filter-buttons">
      <button (click)="selectAll()">all</button>
      <button (click)="selectDone()">Done</button>
      <button (click)="selectNotDone()">Not Done</button>
    </div>
    
    <div class="todos-list">
      <app-todo-item *ngFor="let todo of filteredTodos$ | async"
       [todo]="todo" 
       (onClickCheck)="checkTodo(todo)"
       (onClickDelete)="deleteTodo(todo)"
       (onClickEdit)="editTodo(todo)">
       ></app-todo-item>
    </div>
  </div>

  <div class="chart-box">
    <div>
      <ngx-charts-pie-chart
      [view]="view"
      [results]="chartData"
      
      [doughnut]="true"
      [customColors]="chartColors"

      ></ngx-charts-pie-chart>
    </div>
    <div *ngIf="completed" class="char-text nice">
      <h1>Nice</h1>
    </div>
    <div *ngIf="!completed && !empty" class="char-text percent">
      <h1>{{chartText}}</h1>
    </div>
  </div>


</div>