.item {
  display: grid;
  grid-template-columns: 5% 1fr 5% 10% 10%;
  align-items: center;
  gap: 0.1rem;
  margin-bottom: 0.3rem;
  background: rgb(240, 228, 214);
  border-radius: 0.3rem;
  padding: 0.3rem;


  a {
    transition: 80ms;
  }

  a:hover {
    cursor: pointer;
    color: rgb(151, 67, 109);
    transform: scale(1.07);
  }

  h2 {
    place-items: center;
    padding-left: 0.2rem;
    overflow: hidden;
  }

  .order-arrows {
    display: grid;
    place-items: center;

    a {
      line-height: 0;
    }
  }
}