<div class="container">

  <form class="login" [formGroup]="loginForm">
  <h1 class="form-name">Login</h1>
    <div class="input-box">
      <div class="title">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <label for="email">Email:</label>
      </div>
      <input name="email" formControlName="email">
    </div>
  
    <div class="input-box">
      <div class="title">
        <fa-icon [icon]="faKey"></fa-icon>
        <label for="password">Password:</label>
      </div>
      <input type="password" name="password" formControlName="password">
    </div>
    
    <button (click)="login()">login</button>
  
  </form>
  
  <p>{{message}}</p>

</div>
