/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

}

.container {
  box-shadow: 0px 0px 5px 1px grey;
  border-radius: 0.3rem;
  padding: 2rem;
  min-width: 25rem;
  background: white;
}

body {
  color: rgb(59, 59, 59);
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgb(247, 216, 204) 0%, rgb(255, 255, 255) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  padding: 0.2rem;

  border: none;
  border-radius: 0.2rem;

  color: white;
  background-color: rgb(124, 68, 94);

  cursor: pointer;
  transition: 70ms;
}

button:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.login, .register {
  input {
    border: none;
    border-bottom: 2px solid grey;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
  }

  .form-name {
    justify-self: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  
  
  input:focus {
    outline: none;
  }

  .title {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0.2rem;
    color: grey;
    user-select: none;
  }
  
  .input-box {
    display: grid;

    align-items: center;
    margin-bottom: 2rem;
  
  }
  
}

